<!DOCTYPE html>

<html>
	<head>
		<title>Timestamp Microservice | freeCodeCamp.org</title>
		<link
			rel="shortcut icon"
			href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
			type="image/x-icon"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
			type="text/css"
		/>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<header>
			<h1>Timestamp Microservice</h1>
		</header>
		<hr />
		<main>
			<section class="example">
				<h2>Example</h2>
				<table>
					<thead>
						<tr>
							<th><h3>Input</h3></th>
							<th><h3>Output</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="api/2015-12-25">[project url]/api/2015-12-25</a>
							</td>
							<td>
								<code>
									{"unix": 1451001600000, "utc": "Fri, 25 Dec 2015 00:00:00 GMT"}
								</code>
							</td>
						</tr>
						<tr>
							<td>
								<a href="api/1451001600000">[project url]/api/1451001600000</a>
							</td>
							<td>
								<code>
									{"unix": 1451001600000, "utc": "Fri, 25 Dec 2015 00:00:00 GMT"}
								</code>
							</td>
						</tr>
						<tr>
							<td>
								<a href="api/05 October 2011, GMT"
									>[project url]/api/05 October 2011, GMT</a
								>
							</td>
							<td>
								<code>
									{"unix": 1317772800000, "utc": "Wed, 05 Oct 2011 00:00:00 GMT"}
								</code>
							</td>
						</tr>
						<tr>
							<td>
								<a href="api">[project url]/api</a>
							</td>
							<td>
								<code>
									{"unix":
									<script>
										document.write(new Date().getTime());
									</script>, "utc": 
									"<script>
										document.write(new Date().toUTCString());
									</script>"
									}
								</code>
							</td>
						</tr>
						<tr>
							<td>
								<a href="api/Not a Date">[project url]/api/Not a Date</a>
							</td>
							<td>
								<code> {"error":"Invalid Date"} </code>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>

		<footer class="footer">
			<p>
				A Project By
				<a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
			</p>
			|
			<p>
				Completed By
				<a href="https://aashutosh-kr.github.io/">Aashutosh Kumar</a>
			</p>
		</footer>
	</body>
</html>
